# Data Types
### Numbers

In [1]:
1+1

2

In [2]:
1*3

3

In [3]:
1/2

0.5

In [4]:
2 ** 4

16

In [5]:
2**2

4

In [6]:
2**4

16

In [7]:
2+3*5+5

22

In [8]:
(2+3) * (5+5)

50

In [9]:
4%2

0

In [10]:
5%2

1

In [11]:
8%2

0

In [12]:
var = 2

In [13]:
var

2

In [14]:
x=2
y=3

In [15]:
x+y

5

In [16]:
x = x+x

In [17]:
x

4

In [18]:
x = x+x

In [19]:
x

8

In [20]:
name_od_var = 12

In [21]:
# strings comments

# Strings

In [22]:
'single quote'

'single quote'

In [23]:
"This is a string "

'This is a string '

In [24]:
"I can't go"

"I can't go"

In [25]:
x = 'hello'

In [26]:
x

'hello'

In [27]:
print(x)

hello

In [28]:
num = 12
name = 'Sam'

In [30]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [31]:
print('My number is {one} and my name is {two}'.format(one=num,two=name))

My number is 12 and my name is Sam

In [33]:
print('My number is {one} and my name is {two}, more {two}'.format(one=num,two=name))

My number is 12 and my name is Sam, more Sam

In [34]:
s= 'abcdefghijk'

In [35]:
s[0:]

'abcdefghijk'

In [36]:
s[:3]

'abc'

In [37]:
s[3:6]

'def'

# Lists

In [38]:
my_list = ['a','b','c']

In [39]:
my_list.append('d')

In [40]:
my_list

['a', 'b', 'c', 'd']

In [41]:
my_list[0]

'a'

In [42]:
my_list[1:3]

['b', 'c']

In [43]:
my_list[0] = 'NEW'

In [44]:
my_list

['NEW', 'b', 'c', 'd']

In [45]:
nest = [1,2,[3,4]]

In [46]:
nest

[1, 2, [3, 4]]

In [47]:
nest[2]

[3, 4]

In [48]:
nest[2][1]

4

In [49]:
nest = [1,2,3,[4,5,['target']]]

In [50]:
nest[3][2]

['target']

In [51]:
nest[3][2][0]

'target'

In [52]:
print(nest[3][2][0])

target

In [53]:
d = {'key1' : 'value', 'key2' : 123}

In [54]:
d['key1']

'value'

In [55]:
d['key2']

123

In [56]:
d = {'k1' : [1,2,3]}

In [57]:
d['k1']

[1, 2, 3]

In [58]:
d['k1'][1]

2

In [59]:
my_list = d['k1']

In [60]:
my_list[0]

1

In [61]:
d['k1'][0]

1

In [62]:
d = {'k1' : {'innerkey' :[1,2,3]}}

In [63]:
d['k1']['innerkey'][1]

2

In [64]:
True

True

In [65]:
False

False

In [66]:
{1,2,3}

{1, 2, 3}

In [67]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [68]:
set([1,1,1,1,2,2,2,5,5,5,6,6,6])

{1, 2, 5, 6}

In [69]:
s = {1,2,3}

In [70]:
s.add(5)

In [71]:
s

{1, 2, 3, 5}

In [72]:
s.add(5)

In [73]:
s

{1, 2, 3, 5}

In [74]:
1>2

False

In [75]:
1<2

True

In [77]:
1>=2

False

In [78]:
1<=2

True

In [79]:
1 == 1

True

In [80]:
1 == 2

False

In [81]:
1 != 3

True

In [82]:
'hi' == 'bye'

False

In [83]:
'hi' != 'bye'

True

In [84]:
1 <2 and 2<3

True

In [85]:
1<2 or 2<3

True

In [86]:
1>2 and 2<3

False

In [87]:
if 1<2:
    print('yep')

yep

In [88]:
if 1 == 2:
    print("First")
else:
    print("Last")

Last

In [89]:
if 1 == 2:
    print("First")
elif 4 == 4:
    print("Second")
elif 3 == 3:
    print("Middle")
else:
    print("Last")

Second

In [90]:
seq = [1,2,3,4,5]

In [92]:
for num in seq:
    print(num)

1
2
3
4
5

In [93]:
for num in seq:
    print("Hello ")

Hello
Hello
Hello
Hello
Hello

In [95]:
i = 1

while i <5:
    print('i is : {}'.format(i))
    i = i+1

i is : 1
i is : 2
i is : 3
i is : 4

In [96]:
for x in seq:
    print(x)

1
2
3
4
5

In [97]:
range(0,5)

range(0, 5)

In [98]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [99]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [100]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [101]:
x = [1,2,3,4]

In [102]:
out = []

for num in x:
    out.append(num ** 2)

In [103]:
print(out)

[1, 4, 9, 16]

In [104]:
[num**2 for num in x]

[1, 4, 9, 16]

In [105]:
out = [num**2 for num in x]

In [106]:
out

[1, 4, 9, 16]

In [107]:
def my_func(name = 'default name'):
    print('Hello '+name)

In [111]:
my_func('Fazal')

Hello Fazal

In [112]:
def square(num):
    '''
    This is a Doc string
    it can go multiple lines 
    this function squares a number.
    '''
    return num**2

In [113]:
output = square(2)

In [114]:
output

4

In [115]:
#for documentation type a function name and then hit shift+tab

In [116]:
def times2(var):
    return var*2

In [117]:
times2(5)

10

In [118]:
# map()

In [124]:
seq = [1,2,3,4,5]

In [136]:
set(map(times2, seq))

{2, 4, 6, 8, 10}

In [138]:
d = list(map(times2, seq))

TypeError: 'map' object is not callable

In [139]:
t = lambda var:var*2

In [140]:
t(6)

12

In [141]:
set(map(lambda num: num*3, seq))

{3, 6, 9, 12, 15}

In [142]:
# filter()

In [143]:
set(filter(lambda num: num%2==0, seq))

{2, 4}

In [144]:
s = 'hello my name is Sam'

In [147]:
s.lower()

'hello my name is sam'

In [149]:
s.upper()

'HELLO MY NAME IS SAM'

In [150]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [151]:
tweet = 'Go Sports!  #sport'

In [153]:
tweet.split('#')[1]

'sport'

In [155]:
d = {'k1': 1, 'k2': 2}

In [156]:
d

{'k1': 1, 'k2': 2}

In [157]:
d.keys()

dict_keys(['k1', 'k2'])

In [159]:
d.values()

dict_values([1, 2])

In [161]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [162]:
lst = [1,2,3]

In [163]:
lst.pop()

3

In [164]:
lst

[1, 2]

In [170]:
lst = [1,2,3,4,5]

In [171]:
item = lst.pop()

In [172]:
item

5

In [174]:
first = lst.pop(0)

In [175]:
lst

[2, 3, 4]

In [176]:
first

1

In [177]:
lst.append('new')

In [178]:
lst

[2, 3, 4, 'new']

In [179]:
'x' in [1,2,3]

False

In [180]:
'x' in ['x', 'y', 'z']

True

In [181]:
x = [(1,2),(3,4),(5,6)]

In [183]:
x[0][0]

1

In [184]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [188]:
for a,b in x:
    print(a)

1
3
5

In [189]:
for a,b in x:
    print(b)

2
4
6

# Exercise

In [190]:
7 ** 4

2401

In [191]:
s = 'Hi there Sam'
s.split()

['Hi', 'there', 'Sam']

In [193]:
planet = "Earth"
diameter = 12742
print("The diameter of {a} is {b} kilometers ".format(a=planet, b=diameter))

The diameter of Earth is 12742 kilometers

In [194]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [198]:
lst[3][1][2][0]

'hello'

In [199]:
d = {'k1': [1,2,3,{'tricky':['oh','man','inception', {'target': [1,2,3,'hello']}]}]}

In [206]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [213]:
def domainGet(email):
    return email.split('@')[1]

In [214]:
domainGet('user@domain.com')

'domain.com'

In [215]:
def findDog(s):
    return 'dog' in s.lower().split()

In [216]:
findDog('Is there a dog here')

True

In [228]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [229]:
countDog('This dog runs faster than that dog')

2

In [230]:
seq = ['soup', 'dog', 'salad', 'cat', 'great']

In [233]:
set(filter(lambda word: word[0]=='s', seq))

{'salad', 'soup'}

In [234]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
        
    if speeding > 80:
        return 'Big Ticket'
    elif speeding >60:
        return 'Small Ticket'
    else:
        return 'No ticket'

In [235]:
caught_speeding(81, True)

'Small Ticket'

In [236]:
caught_speeding(81, False)

'Big Ticket'